{{#each posts as |post|}}
  <section>
    <div>
      <div class="barList">
        <h2>{{post.title}}</h2>
        {{!-- <p>{{{get_emoji}}}</p> --}}
        <p>{{post.post_content}}</p>
        <p>{{post.rating}}</p>
        <p>{{format_date post.post_date}}</p>

      </div>
    </div>
  </section>
{{/each}}
